section.store-section {
  height: 90vh;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 1rem;
  }
  h4 {
    margin-top: 1rem;

    font-size: 1rem;
  }
  svg {
    margin-top: 1rem;
  }
}
